:root {
    --accent-color: lch(62.82% 18.15 83.09);
    --header-blue: lch(20.81% 8.87 275.45);
    --backgroud-color: lch(27.12% 10.5 275.31);
    --background-color-2: lch(86.94% 11.74 104.42 / 68.4%);
    --footer-font: lch(48.4% 7.19 273.07);
    --font-body: 'Montserrat', sans-serif;
    --font-title: 'Oswald', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-body);
}

img {
    max-width: 100%;
}

h1, h2, h3, h4 {
    margin: 0;
    font-family: var(--font-title);
}

h1 {
    font-size: 3rem;
    line-height: 1.1;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.875rem;
}

h4 {
    font-size: 1.3125rem;
}

p {
    margin-bottom: 2rem;
    line-height: 1.6;
}

.accent--color {
    color: var(--accent-color);
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: .5rem 0;
}

.container--nav {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: .8rem 0;
    position: relative;
}

.hamburger {
    border: 2px solid rgb(238, 231, 231);
    background-color: var(--accent-color);
    border-radius: 30%;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: .8em;
}

.hamburger:hover {
    background-color: var(--background-color-2);
    transform: translate(-1px, 1px);
}

.hamburger__line {
    transition: opacity 100ms ease-in;
}

[aria-expanded="true"] .hamburger__line {
    opacity: 0;
}

.hamburger__dot {
    opacity: 0;
    transition: opacity 100ms esae-in;
}

[aria-expanded="true"] .hamburger__dot {
    opacity: 1;
}

.nav__list {
    text-transform: uppercase;
    list-style: none;
    letter-spacing: 1px;
    line-height: 2;
    font-size: 1.125rem;
    font-family: 'Oswald', sans-serif;
    padding: 0;
}

.nav__link,
.footer__link {
    text-decoration: none;
    color: #fff;
}

.footer__link,
.footer__p {
    color: var(--footer-font);
}

.nav__link:focus,
.nav__link:hover,
.footer__link:focus,
.footer__link:hover {
    opacity: .75;
}

.nav--btn {
    background-color: var(--accent-color);
    padding: .4em 1em;
    border-radius: 100px;
}

.footer__list {
    list-style: none;
    padding: 0;
    line-height: 2;
}

header {
    background-color: var(--header-blue);
    text-align: center;
    position: sticky;
    top: 0;
}

.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
    transition: 300ms height ease-in-out;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.logo {
    display: block; 
    margin: 0 auto;
}

.section-one {
    background-color: var(--backgroud-color);
    color: #fff;
    font-size: 1.5rem;
    padding: 2rem 0;
}

.btn-wrapper {
    text-align: center;
    margin: 0 auto;
}

.btn {
    background-color: var(--accent-color);
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    padding: .5em 2em;
    border-radius: 100px;
    font-weight: 900;
    font-size: 1rem;
}

.section-two {
    background-color: var(--background-color-2);
    text-align: center;
    font-size: 1.125rem;
}

.main {
    font-size: 1.3125rem;
    text-align: center;
}

.sidebar {
    color:#fff;
    background-color: var(--backgroud-color);
    font-size: 1.125rem;
    margin: .5em 0;
    padding: 1em;
}


footer {
    background-color: var(--backgroud-color);
    color:#fff;
    text-align: center;
}

.footer__title {
    font-family: var(--font-title);
    font-size: 2.25rem;
    font-weight: 900;
    text-align: center;
}

@media (min-width:700px) {
    .d-flex {
        display: flex;
    }

    .d-flex--disable {
        flex-direction: column;
    }

    .grid {
        display: grid;
        grid-template-columns: auto 25% 25% 25%;
    }
    
    .container--nav {
        padding: 1em 0;
    }

    .hamburger {
        visibility: hidden;
    }

    .nav {
        visibility: visible;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .nav__list {
        display: flex;
        margin: 0;
    }

    .nav__list--primary {
        margin: 0 auto;
    }

    .list__item + .list__item {
        margin-left: 1em;
    }

    .section-one__text {
        align-self: baseline;
        margin: auto 0;
    }

    .section-one__text p {
        margin-top: 0;
        margin-bottom: .75em;
        padding-top: 0;   
    }

    .btn-wrapper {
        text-align: left;
    }

    .btn {
        background-color: var(--accent-color);
        text-transform: uppercase;
        text-decoration: none;
        color:#fff;
        padding: .5em 2em;
        border-radius: 100px;
        font-weight: 900;
        font-size: 1.5rem;
    }

    .col + .col {
        margin-left: 2em;
    }

    .sidebar:nth-child(2) {
        margin-left: .5em;
        margin-right: .5em; 
    }
}

@media (min-width: 801px) {
    .section-one__text p {
        margin-top: .5em;
        margin-bottom: 1.5em;
        padding-top: 0;   
    }
}

@media (min-width:1000px) {
    .d-flex--disable {
        flex-direction: row;
    }

    .d-flex-bg-screen {
        flex-direction: column;
    }

    .grid {
        display: grid;
        grid-template-columns: 40% 1fr 1fr 1fr;
    }

    .col + .col {
        margin-left: 4em;
    }

    .col-main:first-child {
        margin-right: 1em;
    }

    .nav__list--primary {
            margin-right: 4em;
        }

    .list__item + .list__item {
            margin-left: 2em;
        }

    h1 {
        font-size: 5.625rem;
    }

    .section-one,
    .section-two,
    .main {
        padding: 5em 0;
    }

    .section-one__text p { 
        margin-bottom: 1.5em;
        padding-top: 2em;   
    }

    .main,
    footer {
        text-align: left;
    }

    .wide {
        width: 70%;
    }

    .narrow {
        width: 30%;
    }

    .sidebar {
        text-align: center;
    }

    .sidebar:nth-child(2) {
        margin-left: 0;
        margin-right: 0; 
    }

}

@media (min-width: 1300px) {
    .container,
    .container--nav {
        width: 100%;
    } 
}